/* color */
/* font */
/* wireframe ( for paddings&margins ) */
/*  html
  header
  section
  footer
  navigation  */
/* HTML */
* {
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #b74826; }

a:hover {
  text-decoration: none;
  color: #b74826; }

.container-fluid {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.nav-container {
  background-color: rgba(33,33,33,1);
  padding: 0;
  margin: 0; }

/* HEADER */
header {
  width: 100%;
  z-index: 1;
  background-color: white; }

.header-title {
  margin: 0 1em 1em 1em;
  color: rgb(160, 211, 80);
  display: table;
  font-family: 'Open Sans';; }

.text-center {
  text-align: center;
  background-image: url('/assets/images/headercat.png');
  background-repeat: no-repeat;
  height: 9em;
  background-size: 16%;
  background-color: rgb(174,203,84);
  background-position: bottom left; }

h1 {
  font-family: "Open Sans",sans-serif;
  font-weight: 800;
  font-size: 5em;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 3.3em;
  letter-spacing: 0.04em;
  color: rgb(44,15,1); }

header img {
  height: 7em;
  width: auto;
  padding: 1em 1em;
  margin-top: -3em;
  display: inline-block; }

/* SECTION */
section {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #212121;
  overflow: hidden;
  padding: 0; }

.page-dscr {
  font-size: 1.5em;
  color: black;
  margin: 1em;
  padding: 1.5em;
  background-color: rgba(160, 211, 80, 0.8); }

.cover-illu {
  max-width: 95%;
  padding: 2.5em;
  margin-top: 4.5em; }

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  background-color: rgb(44,15,1);
  z-index: 1;
  display: table;
  height: auto;
  color: rgb(160,211,80);
  font-family: "Open sans", sans-serif; }

.ft-nav {margin: 0 auto;
}

  footer img {width: 8em;
margin: 2em 0;
float: left;}

footer p {float: left;
margin: 2em 2em;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: rgb(160,211,80);
  padding: 1.5em;
  display: inline-block; }

/* NAVIGATION */
.nav {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.5; }

.nav-small {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1; }

.tabs {
  padding: 0; }

.tabs-link {
  display: block; }

.primary-nav {
  text-align: center;
  overflow: hidden; }

.primary-nav a {
  color: white;
  padding: 0;
  background-color: rgb(44,15,1);
  text-decoration: none;
  border-bottom: transparent;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.03em; }

.primary-nav a:hover {
  color: rgba(255,255,255,0.75);; }

.button {
  width: 100%;
  height: auto;
  padding: 0.5em;
  text-align: center;
  background-color: #212121; }

.button:hover {
  background-color: white; }

.button a {
  color: white; }

.button a:hover {
  color: #b74826; }

/* home */
/* HOME */
.cover-home {
  background-size: cover;
  background: url(/assets/images/backgrounds/Code_Catz_Cover.jpg) no-repeat center top fixed;
  background-size: cover;
}

/*  catz
  members
  member/---  */
/* CATZ */
.cover-catzkittenz {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(160, 211, 80, 0.75)), url(/assets/images/backgrounds/catz2.jpg) no-repeat center top fixed;
  background-size: cover; }

/* MEMBERS */
.section-members {
  height: auto;
  display: table; }

.member {
  width: 25%;
  min-width: 20em;
  padding: 0.5em;
  display: inline-block; }

.member-name {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 2.5em;
  color: #b74826;
  text-align: center;
  display: block; }

.member-name:hover {
  color: #212121; }

.member-illu {
  width: 100%;
  padding: 1em;
  display: block; }

/* MEMBER/--- */
.member-img {
  max-width: 100%;
  margin: 0.5em auto;
  padding: 1em; }

/* manifesto */
/* MANIFESTO */
.cover-manifesto {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(160, 211, 80, 0.75)), url(/assets/images/backgrounds/catz4.jpg) no-repeat center top fixed;
  background-size: cover; }

/* connect */
/* CONNECT */
.cover-connect {
  padding: 5em 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(160, 211, 80, 0.75)), url(/assets/images/backgrounds/catz3.jpg) repeat-x center 3em fixed;
  background-size: cover; }

.illu-connect {
  max-width: 90%;
  margin-top: 4em;
  padding: 0.5em; }

/*  meetups
  metup/---  */
/* MEETUPS */
/* MEETUP/--- */
.section-posts {
  margin: 0 auto;
  padding: 0; }

.meetup {
  width: 100%;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  color: #b74826;
  line-height: 1;
  padding: 0.25em;
  display: table; }

h2 a {
  font-size: 0.75em;
  padding: 0.125em;
  border-bottom: solid 0.1em #b74826;
  display: inline-block; }

.date {
  padding: 0.25em;
  background-color: rgba(160, 211, 80, 0.75);
  color: white;
  display: inline-block; }

.section-posts .meetup h2 div {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 300;
  font-size: 0.75em; }

.section-posts .meetup h2 h4 {
  font-size: 0.5em; }

.post {
  width: 100%;
  height: auto;
  font-size: 1em;
  padding: 0.5em; }

.post a {
  color: #b74826; }

.post-nav {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  text-align: left; }

.post-nav a {
  color: #b74826;
  text-decoration: none;
  padding: 0.25em 1em; }

.post-nav a:hover {
  background-color: #212121; }

.break {
  top: 0;
  width: 100%;
  height: 0.2em;
  background-color: #212121; }

h4 {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 300;
  font-size: 1.75em;
  color: #b74826; }

footer .ft-nav li {
  float: left;
  list-style: none; }
footer .ft-nav li a {color: rgb(160,211,80}