*{
box-sizing: -webkit-border-box;
box-sizing: -moz-border-box;
box-sizing: border-box;
}

a {
	text-decoration: none;
	color: rgba(183, 72, 38, 1);
	}

a:hover {
		text-decoration: none;
		color: rgba(183, 72, 38, 1);
}


ul {
	display: table;
	}

li {
	display: inline-block;
	}




/* HOME */

.cover_home {
	background: 
	linear-gradient(
	rgba(255, 255, 255, 0.0),
	rgba(255, 255, 255, 0.5), 
	rgba(183, 72, 38, 0.75)
	),

	url(/assets/images/backgrounds/Code_Catz_Cover.jpg) no-repeat center top fixed; ;
	background-size: cover;
	}

/* CATZ & KITTENs */

.members {
	display: table;
	margin: 0 auto;
	height: auto;
	}

.catz {
	display: inline-block;
	padding: 2em;
	}

.cover_catzkittenz {
	background: 
	linear-gradient(
	rgba(255, 255, 255, 0.0),
	rgba(255, 255, 255, 0.5), 
	rgba(183, 72, 38, 0.75)
	),

	url(/assets/images/backgrounds/catz2.jpg) no-repeat center top fixed;
	background-size: cover;
	}

.catz_img {
	width: 100%;
	display: block;
	}

.cat_name {
	color: rgba(183, 72, 38, 1);
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 2.5em;
	display: block;
	width: 75%;
	text-align: center;
	}

.cat_name:hover{
	color: rgba(33,33,33,1);
	}


/* MEMBERS */

.the_cat {
	max-width: 100%;
	margin: 1em auto;
	padding: 1.5em;
	}

/* MANIFESTO */

.cover_manifesto {
	background: 
	linear-gradient(
	rgba(255, 255, 255, 0.0),
	rgba(255, 255, 255, 0.5), 
	rgba(183, 72, 38, 0.75)
	),

	url(/assets/images/backgrounds/catz4.jpg) no-repeat center top fixed;
	background-size: cover;
	}

.catz_back {
	width: 60em;
	max-width: 100%;	
	}

.manifesto {
	text-align: center;
	margin-top: 2.5em;
	}


/* MEETUPS */

.full-width {
	padding: 0;
}

.meetup, h2 {
	font-family: 'Sue Ellen Francisco', cursive;
	line-height: 1;
	font-weight: 400;
	color: rgba(183, 72, 38, 1);;
	display: table;
	text-transform: uppercase;
	width: 100%;
	padding: 0 5px;
	}

.post a {
	color: rgba(183, 72, 38, 1);
	}

.date {
	display: inline-block;
	font-size: 0.75em;
	padding: 0.3em;
	background-color: rgba(183, 72, 38, 0.5);
	border-bottom: solid 0.1em rgba(183, 72, 38, 1);
	}

.post {
	color: black;
	font-size: 1.2em;
	width: 100%;
	height: auto;
	padding: 1em;
	}

h2 a{
	border-bottom: solid 0.1em rgba(183, 72, 38, 1);
	font-size: 0.75em;
	display: inline-block;
	padding: 0.3em;
	}



.post-nav {
	text-align: left;
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
	}

.post-nav a {
	padding: 0.2em 1em;
	color: rgba(183, 72, 38, 1);
	text-decoration: none;
	}

.post-nav a:hover {
	background-color: rgba(33,33,33,1);
	}

.break {
	top: 0;
	width: 100%;
	height: 0.2em;
	background-color: rgba(33,33,33,1)
	}

.body-text {
	color: rgba(33,33,33,1);
	}

/*
RGB USED:;
#2ecc71
rgba(118, 184, 82, 1);
rgba(46, 204, 113, 1)
rgba(111,31,30,1);
rgba(186,168,152,1);
rgba(33,33,33,1);

rgba(183,72,38,1);

rgba(162, 131, 104,1);
*/



/* HEADER */

header {
	background-color: white;
	width: 100%;
	z-index: 1;
	}

.header {
	color: rgba(183, 72, 38, 1);
	display: table;
	margin: 1em auto;
	}

.title {
	font-size: 5em;
	font-family: 'Sue Ellen Francisco', cursive;
	font-weight: 300;
	display: inline-block;
	text-transform: uppercase;
	}

.logo-header {
	display: inline-block;
	height: 7em;
	width: auto;
	margin-top: -3em;
	padding: 1em;
	}

.logo-footer {
	display: inline-block;
	height: 7em;
	width: auto;
	padding: 1em;
}

footer {
	background-color: rgba(33,33,33,1);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
	display: table;
	}

.footer {
	color: rgba(183, 72, 38, 1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em; 
	display: inline-block;
	padding: 1.5em;
	}

.nav {
	font-family: 'Open Sans', sans-serif;
	line-height: 2;
	font-size: 1.5em;
	font-weight: 300;
	}

.tabs {
	padding: 0;
}
	
.tabs-link {
	display: block;
	}

.primary-nav {
	text-align: center;
	overflow: hidden; 
	}

.primary-nav a {
	padding: 0;
	background-color: rgba(33,33,33,1);
	color: white;
	text-decoration: none;
	}

.primary-nav a:hover {
	background-color: rgba(183, 72, 38, 1);
	}

/* CONTENT */

section {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	}

.page_dscr {
	margin: 2em;
	font-size: 1.5em;
	background-color: rgba(183, 72, 38, 0.75);
	padding: 1.5em;
	}


.button {
	background-color: rgba(33,33,33,1);
	width: 100%;
	height: auto;
	display: block;
	padding: 0.5em;
	text-align: center;
	}

.button:hover {
	background-color: white;
	}

.button a {
	color: white;
	}

.button a:hover {
	color: rgba(183, 72, 38, 1);
	}

.cover {
	background: 
	linear-gradient(
	rgba(255, 255, 255, 0.0),
	rgba(255, 255, 255, 0.5), 
	rgba(183, 72, 38, 0.75)
	),

	url() no-repeat center top fixed;
	background-size: cover;
	}

.illu {
	max-width: 85%;
	padding: 4.5em;
	margin-top: 4.5em;
	}



