<header id="navigation">
	<div class="container">
		<nav class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="about-link">
					<a href="{{ site.baseurl }}/about" {% if page.url == '/about/' %} class="active"{% endif %}>
						O CodeCatz
					</a>
				</li>
				{% if page.layout == 'page' %}
				<li class="about-link">
					<a href="{{ site.baseurl }}/">
						Delavnica
					</a>
				</li>
				{%else%}
				{%endif%}
			</ul>
		</nav>
	</div>
</header>