*{
box-sizing: -webkit-border-box;
box-sizing: -moz-border-box;
box-sizing: border-box;
}

html {
max-width: 100%;
overflow-x:hidden;
}

body {
margin:0;
background-color: white;
color: black;
text-rendering: optimizelegibility;
}

a {
text-decoration: none;
color: rgba(118, 184, 82, 1);
}

ul {
	display: table;
}

li {
	display: inline-block;
}

/* HEADER */

header {
background-color: white;
width: 100%;
z-index: 1;
}

.header {
color: rgba(118, 184, 82, 1);
font-size: 2em; 
display: table;
margin: -0.25em auto;
}

.title {
font-family: 'Sue Ellen Francisco', cursive;
font-weight: 300;
line-height: 1;
display: inline-block;
text-transform: uppercase;
}

.paw {
display: inline-block;
height: 2em;
width: auto;
}

footer {
background-color: rgba(33,33,33,1);
height: auto;
width: 100%;
z-index: 1;
text-align: center;
display: table;
}

.footer {
color: rgba(118, 184, 82, 1);
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 2em; 
display: inline-block;
padding: 1em;
}


.nav {
font-family: 'Open Sans', sans-serif;
line-height: 2;
font-size: 1.5em;
font-weight: 300;
}

.tabs-link {
display: block;
}

.primary-nav {
text-align: center;
overflow: hidden; 
}

.primary-nav a {
padding: 0;
background-color: rgba(33,33,33,1);
color: white;
text-decoration: none;
}

.primary-nav a:hover {
background-color: rgba(118, 184, 82, 1);
}

/* CONTENT */

section {
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

.page_dscr {
font-size: 1.5em;
background-color: rgba(118, 184, 82, 0.75);
padding: 1em;
}

.button {
background-color: rgba(33,33,33,1);
width: 100%;
height: auto;
display: block;
padding: 0.5em;
text-align: center;
}

.button:hover {
background-color: white;
}

.button a {
color: white;
}

.button a:hover {
color: rgba(118, 184, 82, 1);
}

.cover {
background: 
linear-gradient(
	rgba(255, 255, 255, 0.0),
	rgba(255, 255, 255, 0.5), 
	rgba(118, 184, 82, 0.75)
),

url() no-repeat center top fixed;
background-size: cover;
}

.illu {
max-width: 100%;
padding: 0 4em;
margin-top: 2em;
}



