/* about */
/* ABOUT */

.cover-about {
	padding: 5em 0;
	background: 
	linear-gradient(
	rgba(255, 255, 255, 0),
	rgba(255, 255, 255, 0.5),
	rgba(160, 211, 80, 0.75)
	),
	repeat-x center 3em fixed,
	url(/assets/images/backgrounds/catz3.jpg);
	background-size: cover;
}

.illu-about {
	max-width: 90%;
	margin-top: 4em;
	padding: 0.5em;
}
