/*  html
	header
	section
	footer
	navigation  */


/* HTML */

* {
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $highlight-color;
}

a:hover {
	text-decoration: none;
	color: $secondary-color;
}

.container-fluid {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.nav-container {
	background-color: rgba(33,33,33,1);
	padding: 0;
	margin: 0; 
}


/* HEADER */

header {
	width: 100%;
	z-index: 1;
	background-color: white;
}

.header-title{
	margin: $rhythm * 2 auto;	
	color: $primary-color;
	display: table;
	font-family: 'Open Sans';
}

.text-center {
	text-align: center;
	background-image: url('/assets/images/headercat.png');
	background-repeat: no-repeat;
	height: 9em;
	background-size: 16%;
	background-color: rgb(174,203,84);
	background-position: bottom left; 
	}


h1 {
	font-family: $title-font;
	font-weight: 800;
	font-size: 5em;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 3.3em;
	letter-spacing: 0.04em;
	color: rgb(44,15,1);
}

header img {
	height: 7em;
	width: auto;
	padding: $rhythm * 2 $rhythm * 2;
	margin-top: -3em;
	display: inline-block;
}


/* SECTION */

section {
	font-family: $body-font;
	font-weight: 300;
	color: $secondary-color;
	overflow: hidden;
	padding: 0;
}

.page-dscr {
	font-size: $rhythm * 3;
	color: black;
	margin: $rhythm * 2;
	padding: $rhythm * 2;
	background-color: $primary-color-gradient;
}

.cover-illu {
	max-width: 95%;
	padding: $rhythm * 5;
	margin-top: 4.5em;
}


/* FOOTER */

footer {
	height: auto;
	width: 100%;
	text-align: center;
	background-color: $secondary-color;
	z-index: 1;
	display: table;
	color: rgb(160,211,80);
	font-family: "Open sans", sans-serif;
}

.ft-nav {
	margin: 0 auto;
}

footer img {
	height: 4em;
	margin-top: 0;
	padding: $rhythm * 2;
}

footer ul {
	list-style-type: none;
}

.follow-us {
	margin-top: 1em;
	text-align: left;
}

footer p {float: left;
margin: 2em 2em;
}

.footer-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: rgb(160,211,80);
	padding: 1.5em;
	display: inline-block;
}

footer .ft-nav li {
	float: left;
	list-style: none;
}

footer .ft-nav li a {
	color: rgb(160,211,80);
}


/* NAVIGATION */

.nav-container {
	background-color: $secondary-color;
}

.nav {
	font-family: $body-font;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 2;
}

.nav-small {
	font-family: $body-font;
	font-size: 1em;
	font-weight: 300;
	line-height: 1;
}

.tabs {
	padding: 0;
}
	
.tabs-link {
	display: block;
}

.primary-nav {
	text-align: center;
	overflow: hidden; 
}

.primary-nav a {
	color: white;
	padding: 0;
	background-color: $secondary-color;
	text-decoration: none;
}

.primary-nav a:hover {
	background-color: $primary-color;
}


.button {
	width: 100%;
	height: auto;
	padding: $rhythm;
	text-align: center;
	background-color: $secondary-color;
}

.button:hover {
	background-color: white;
}

.button a {
	color: white;
}

.button a:hover {
	color: $primary-color;
}
