/* color */
$primary-color: rgba(174, 203, 84, 1);
$primary-color-gradient: rgba(174, 203, 84, 0.75);
$highlight-color: rgba(183, 72, 38, 1);
$secondary-color: rgba(33, 33, 33, 1);

/* font */
$title-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

/* wireframe ( for paddings&margins ) */
$rhythm: 0.5em;