<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Programming kittens learning to code. Mostly girls." />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>CodeCatz women development group</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/assets/stylesheets/css/styles.css"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="text-center">
	<div class="header-title">
		
		<h1>CodeCatz</h1>
	</div>
</header>
<div class="container-fluid">
	<div class="nav-container">
	<nav class="nav hidden-xs">
		<div class="row primary-nav">
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="/">home</a>
			</div>
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="/catz">catz & kittens </a>
			</div>
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="/manifesto">manifesto</a>
			</div>
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="/meetups">meetups</a>
			</div>
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="/connect">connect</a>
			</div>
			<div class="col-md-2 col-sm-4 tabs">
				<a class="tabs-link" href="https://github.com/CodeCatz">github</a>
			</div>
		</div>
		</nav>
		<nav class="hidden-sm hidden-md hidden-lg navbar-default nav-small" role="navigation">
        <div class="nav primary-nav" data-toggle="collapse" 
         data-target="#navbar-collapse"><a class="tabs-link" href="#">- menu -</a> 
        	<span class=""></span>
        	<span class=""></span>
        	<span class=""></span>
        </div>
   		<div class="collapse navbar-collapse" id="navbar-collapse">
     		<ul class="nav navbar-nav primary-nav">
        		<li><a href="/">home</a></li>
        		<li><a href="/catz">catz & kittens </a></li>
        		<li><a href="/manifesto">manifesto</a></li>
       			<li><a href="/meetups">meetups</a></li>
        		<li><a href="/connect">connect</a></li>
        		<li><a href="https://github.com/CodeCatz">github</a></li>
    		</ul>
   		</div>
	</nav>
	</div>
<section>
		{{ content }}
</section>
<footer>
	<div class="col-md-6">
		<img src="/assets/images/logo.png" />
		<p>CodeCatz: Kittens learning to code like Catz</p>
		
	</div>
	<div class="col-md-6">

	</div>
	<div class="col-md-12">
<ul class="ft-nav">
        		<li><a href="/">home</a></li>
        		<li><a href="/catz">catz & kittens </a></li>
        		<li><a href="/manifesto">manifesto</a></li>
       			<li><a href="/meetups">meetups</a></li>
        		<li><a href="/connect">connect</a></li>
        		<li><a href="https://github.com/CodeCatz">github</a></li>
    		</ul>
	</div>
	
</footer>
<script src="/assets/js/jquery-1.10.2.min.js"></script>
<script src="/assets/stylesheets/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>