---
layout: default
---
<div class="jumbotron">
	<div class="container">
		<h1 id="jumbotron-heading" class="col col-sm-5">Delavnica <br/>CodeCatz
		</h1>
		<h5 id="jumbotron-subheading">Pridruži se nam na brezplačni celodnevni
			delavnici, ki jo CodeCatz organiziramo <strong> v soboto, 22.
				oktobra</strong>, in se z nami loti svoje prve spletne strani.
			Tudi če ni tvoja prva, bo tokrat zagotovo drugačna.
		</h5>
	</div>
</div>

<div class="container">

	<div class="logo col-centered col-xs-6 col-sm-2">
		<img src="{{ site.baseurl }}/assets/images/logo.svg"
		     alt="CodeCatz Logo">
	</div>

	<div class="highlight col-centered col-sm-8">
		<p>Tokratna delavnica je namenjena predvsem začetnicam, kot si ti, ki se
			želite preizkusiti v nečem bolj tehnološkem, kot je <i>le kava</i> s
			prijateljicami: na primer v izdelavi spletne strani.
		</p>
		<p>Na delavnici ti bodo prijazne mentorice in mentorji pomagali od prve
			do zadnje vrstice kode, da boš ob koncu dneva na spletu pustila svoj
			prvi digitalni odtis.</p>
	</div>

	<section class="tiles row">
		<div class="row">
			<div class="tile col xs-12 col-md-12">
				<h3>Kaj lahko pridobiš?</h3>
			</div>
		</div>
		<div class="row">
			<div class="tile col xs-12 col-md-4">
				<img class="icon"
				     src="{{site.baseurl}}/assets/images/cv_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">CV na spletu</div>
				<p>
					Zakaj ne bi življenjepisa pripravila v spletni obliki? Vedno
					ti bo pri roki, lahko ga boš hitro urejala in enostavno
					delila z drugimi.
				</p>
			</div>
			<div class="tile col xs-12 col-md-4">
				<img class="icon"
				     src="{{site.baseurl}}/assets/images/learn_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">Spletna stran to-go</div>
				<p>
					Delavnica je zasnovana zelo praktično. V soboto popoldne boš
					domov
					odšla ne le z novim znanjem, temveč tudi z lastno spletno
					stranjo.
				</p>
			</div>
			<div class="tile col xs-12 col-md-4">
				<img class="icon"
				     src="{{site.baseurl}}/assets/images/signpost_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">Prijazno okolje</div>
				<p>
					Naše potrpežljive mentorice in mentorji bodo tebe in druge
					začetnice vodili skozi celoten proces, navodila
					pa bodo ostala na voljo tudi po koncu
					delavnice.
				</p>
			</div>
		</div>
	</section>

	<section class="mentors row">
		<h2>Mentorice in mentorji</h2>

		<div class="subtitle col-centered col-md-8 ">
			Dizajnerke in dizajnerji, programerke in programerji, spletne
			entuziastke in entuziasti - pridružite se nam! Všeč vam bo. Nam je
			vsakič.
			Prijave za nove mentorice in mentorje zbiramo tukaj:
			<br>
			<a class="mentor-cta btn"
			   href="https://goo.gl/forms/ZBoqDaknk05AOhd03"
			   target="_blank">
				Pridruži se mentorjem
			</a>
		</div>

		<div class="mentor-list col-centered col-xs-12 col-md-8">
			{% for mentor in site.data.mentors %}
			{% capture modulo %}{{ forloop.index0 | modulo:4 }}{%
			endcapture %}
			{% if forloop.first == true %}
			<div class="row">
				{% elsif modulo== '0' %}
			</div>
			<div class="row">
				{% endif %}
				<div class="mentor-data col-xs-6 col-sm-3">
					<a href="{{mentor.social.link}}" target="_blank">
						<img src="{{site.baseurl}}/assets/images/mentors/{{ mentor.image_name }}"
						     alt="Mentor {{ mentor.name }}">
						<div class="presentation clearfix">
							<div class="icon col-xs-1">
								{% if mentor.social.type == 'twitter' %}
								<img src="{{site.baseurl}}/assets/images/twitter_icon.svg"
								     alt="Twitter Icon">
								{% elsif mentor.social.type == 'linkedin' %}
								<img src="{{site.baseurl}}/assets/images/linkedin_icon.svg"
								     alt="Linkedin Icon">
								{% endif %}
							</div>
							<div class="col-xs-11">
								{{ mentor.name }}
							</div>
						</div>
					</a>
				</div>
				{% if loop.last == true %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="faq-section row">
		<div class="row" id="faq">
			<div class="col xs-12 col-md-12"><h2>Najpogosteje zastavljena
				vprašanja</h2></div>
		</div>

		<div class="row">
			<div class="faq col xs-12 col-md-4">
				<p class="question">Koliko je prostih mest?</p>
				<p class="answer">50. Pri izbiri boste imele prednost začetnice in tiste, ki nas najbolj navdušite s svojo idejo za spletno stran, zato  pri prijavi ne varčuj z besedami.</p></div>
			<div class="faq col xs-12 col-md-4"><p class="question">Do kdaj se lahko prijavim?</p>
				<p class="answer">Do vključno petka, 14. 10. do polnoči. Potem se prijavnica spremeni v bučo, zato ti predlagamo, da se prijaviš že danes.</p>
			</div>
			<div class="faq col xs-12 col-md-4"><p class="question">Do kdaj bo v soboto trajala delavnica?</p>
				<p class="answer">Najkasneje do 16ih. Če boš hitra, lahko zaključiš še kakšno uro prej. Da bo delo lažje steklo, pridi na delavnico z že pripravljeno vsebino za svojo spletno stran.</p>
			</div>
		</div>
		<div class="row">
			<div class="faq col xs-12 col-md-4">
				<p class="question">Ali prinesem svoj prenosnik?</p>
				<p class="answer">Da. Žal nimamo na voljo računalnikov, zato
					potrebuješ lasten prenosnik. Dobra stran tega je, da boš
					imela vse, kar boš naredila na delavnici, na njem, ko boš
					odšla domov.</p></div>
			<div class="faq col xs-12 col-md-4"><p class="question">Lahko
				pripeljem
				zraven fanta oz. moža?</p>
				<p class="answer">Privoščite svojim dragim malce svobode. Naj
					namesto vas pospravijo, peljejo psa na sprehod, uživajo čas
					v družbi prijateljev. Ne bo jim hudega, vam pa še manj.</p>
			</div>
			<div class="faq col xs-12 col-md-4"><p class="question">Kako
				poteka delo
				z mentorji?</p>
				<p class="answer">Na delavnici boš delala z majhno skupino 2-3
					punc. Vsaki skupini bo pomagal en od naših prijaznih
					mentorjev - prostovoljcev.</p></div>
		</div>
		<div class="row">
			<div class="faq col xs-12 col-md-4"><p class="question">Ali moram
				kaj
				vedeti o programiranju?</p>
				<p class="answer">Niti najmanj. Delavnica je namenjena
					začetnicam. Ne potrebuješ predznanja. Ni to kul?</p></div>
			<div class="faq col xs-12 col-md-4"><p class="question">Ali bo
				poskrbljeno za hrano?</p>
				<p class="answer">Za malico bo poskrbljeno, vendar priporočamo
					kak manjši prigrizek iz računalniške torbe. Ne škodi.</p>
			</div>
			<div class="faq col xs-12 col-md-4"><p class="question">Zakaj ravno
				mačke?</p>
				<p class="answer">Zakaj pa ne? Mačke so radovedne, neustrašne,
					samovoljne, trmaste... Se prepoznaš? Me smo se.</p>
			</div>
		</div>

	</section>
</div>
<section id="signup" class="signup">
	<div class="container">
		<div class="col-centered col-md-10">

			<h2 class="signup-title italic">
				Delavnica bo potekala 22. oktobra 2016 na
				Fakulteti za Računalništvo in Informatiko v Ljubljani.
			</h2>
			<div class="questions col-xs-12 col-md-6">
				<ul class="question-list">
					<li>Imaš v soboto, 22.10. čas?</li>
					<li>Si novinka na področju IT?</li>
					<li>Bi znala slediti navodilom v angleščini?</li>
					<li>Imaš lastni prenosnik, ki ga lahko uporabiš na
						delavnici?
					</li>
				</ul>
			</div>
			<div class="signup-cta col-xs-12 col-md-6">
				Če si na vsa vprašanja odgovorila z "da", <br> se čim prej
				prijavi!
				<div class="cta-button-wrapper">
					<a href="https://goo.gl/forms/Ry4IrLrWeH4Enxz22"
					   target="_blank" class="cta-button btn">Prijavi se</a>
				</div>
			</div>
		</div>
	</div>
</section>
