---
layout: default
---
<div class="jumbotron">
	<div class="container">
		<h1 id="jumbotron-heading col col-sm-5">Delavnica <br/>CodeCatz</h1>
		<h5 id="jumbotron-subheading">Pridruži se nam na brezplačni celodnevni delavnici, ki jo CodeCatz organiziramo v soboto, 22. oktobra, in se z nami loti svoje prve spletne strani. Tudi če ni tvoja prva, bo tokrat zagotovo drugačna.
		</h5>
	</div>
</div>

<div class="container">

	<div class="logo col-centered col-xs-4 col-sm-2">
		<img src="/codecatz.github.io/assets/images/logo.svg"
		     alt="CodeCatz Logo">
	</div>

	<div class="highlight col-centered col-sm-8">
		<p>Tokratna delavnica je namenjena predvsem začetnicam, kot si ti, ki se želite preizkusiti v nečem bolj tehnološkem kot je <i>le kava</i> s prijateljicami: na primer v izdelavi spletne strani. 
		</p>
		<p>Na delavnici ti bodo prijazne mentorice in mentorji pomagali od prve do zadnje vrstice kode, da boš ob koncu dneva na spletu pustila svoj prvi digitalni odtis.</p>
	</div>

	<section class="tiles row">
		<div class="row">
			<div class="tile col xs-12 col-md-12">
				<h3>Kaj lahko pridobiš?</h3>
			</div>
		</div>
		<div class="row">
			<div class="tile col xs-12 col-md-4">
				<img class="icon" src="/codecatz.github.io/assets/images/cv_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">CV na spletu</div>
				<p>
					Zakaj ne bi življenjepisa pripravila v spletni obliki? Vedno ti bo pri roki, lahko ga boš hitro urejala in enostavno delila z drugimi.
				</p>
			</div>
			<div class="tile col xs-12 col-md-4">
				<img class="icon"
				     src="/codecatz.github.io/assets/images/learn_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">Spletna stran to-go</div>
				<p>
					Delavnica je zasnovana zelo praktično. V soboto zvečer boš domov
					odšla ne le z novim znanjem, temveč tudi z lastno spletno
					stranjo.
				</p>
			</div>
			<div class="tile col xs-12 col-md-4">
				<img class="icon"
				     src="/codecatz.github.io/assets/images/signpost_icon.svg"
				     alt="Dopolni svoj CV">
				<div class="title">Prijazno okolje</div>
				<p>
					Naše potrpežljive mentorice in mentorji bodo tebe in druge
					začetnice vodili skozi celoten proces, navodila
					pa bodo ostala na voljo tudi po koncu
					delavnice.
				</p>
			</div>
		</div>
	</section>

	<section class="mentors row">
		<h2>Mentorice in mentorji</h2>

		<div class="subtitle col-centered col-md-8 ">
			Dizajnerke in dizajnerji, programerke in programerji, spletne entuziastke in entuziasti - pridružite se nam! Všeč vam bo. Nam je vsakič.
			Prijave za nove mentorice in mentorje zbiramo <a href="#" target="_blank">tukaj</a>.
		</div>

		<div class="mentor-list col-centered col-xs-12 col-md-8">
			
			<div class="mentor-data col-xs-2 col-sm-3">
				<img src="/codecatz.github.io/assets/images/mentors/mentor.png"
				     alt="Mentor Alja d Cat">
				<div class="presentation clearfix">
					<div class="icon col-xs-1">
						
						<img src="/codecatz.github.io/assets/images/twitter_icon.svg"
						     alt="Twitter Icon">
						
					</div>
					<div class="col-xs-9">
						Alja d Cat
					</div>
				</div>
			</div>


			<div class="mentor-data col-xs-2 col-sm-3">
				<img src="/codecatz.github.io/assets/images/mentors/mentor.png"
				     alt="Mentor Mateja d Cat">
				<div class="presentation clearfix">
					<div class="icon col-xs-1">
						<img src="/codecatz.github.io/assets/images/twitter_icon.svg"
						     alt="Twitter Icon">
					</div>
					<div class="col-xs-9">
						Mateja d Cat
					</div>
				</div>
			</div>

			<div class="mentor-data col-xs-2 col-sm-3">
				<img src="/codecatz.github.io/assets/images/mentors/mentor.png"
				     alt="Mentor Unknown">
				<div class="presentation clearfix">
					<div class="icon col-xs-1">
						<img src="/codecatz.github.io/assets/images/twitter_icon.svg"
						     alt="Twitter Icon">
					</div>
					<div class="col-xs-9">
						Unknown
					</div>
				</div>
			</div>

			<div class="mentor-data col-xs-2 col-sm-3">
				<img src="/codecatz.github.io/assets/images/mentors/mentor.png"
				     alt="Mentor Mateja d Cat">
				<div class="presentation clearfix">
					<div class="icon col-xs-1">
						
						<img src="/codecatz.github.io/assets/images/twitter_icon.svg"
						     alt="Twitter Icon">
						
					</div>
					<div class="col-xs-9">
						Mateja d Cat
					</div>
				</div>
			</div>

			
			<div class="mentor-data col-xs-2 col-sm-3">
				<img src="/codecatz.github.io/assets/images/mentors/mentor.png"
				     alt="Mentor Mateja d Cat">
				<div class="presentation clearfix">
					<div class="icon col-xs-1">
						
						<img src="/codecatz.github.io/assets/images/twitter_icon.svg"
						     alt="Twitter Icon">
						
					</div>
					<div class="col-xs-9">
						Mateja d Cat
					</div>
				</div>
			</div>

			
		</div>
	</section>
</div>
<section class="signup">
	<div class="container">
		<div class="col-centered col-md-10">

			<h2 class="signup-title italic">Delavnica bo potekala 22. oktobra
				2016 na
				Fakulteti
				za
				Računalništvo in
				informatiko v Ljubljani.</h2>
			<div class="questions col-xs-12 col-md-6">
				<ul class="question-list">
					<li>Imaš v soboto, 22.10. čas?</li>
					<li>Si novinka na področju IT?</li>
					<li>Bi znala slediti navodilom v angleščini?</li>
					<li>Imaš lastni prenosnik, ki ga lahko uporabiš na
						delavnici?
					</li>
				</ul>
			</div>
			<div class="signup-cta col-xs-12 col-md-6">
				Če si na vsa vprašanja odgovorila z "da", <br> se čim prej
				prijavi!
				<div class="cta-button-wrapper">
					<a href="#" class="btn btn-primary">Prijavi se</a>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="col-xs-12 col-xs-8">
			<div class="col-xs-6">
				<div class="col-xs-3">
					<img src="/codecatz.github.io/assets/images/logo.svg"
					     alt="CodeCatz Logo">
				</div>
				<div class="col-xs-9">
					<p>
						Delavnico organiziramo CodeCatz
						v sodelovanju s Fakulteto za računalništvo in informatiko.
					</p>
					<p>
						Vsaka udeleženka in udeleženec se mora držati kodeksa
						obnašanja.
					</p>
					<p>
						Dodatne informacije so na voljo na <br>
						<a href="#">info@codecatz.org</a>
					</p>
				</div>
			</div>
			<div class="sponsors col-xs-6">
				<img src="/codecatz.github.io/assets/images/fri-logo.svg"
				     alt="FRI logo">
			</div>
		</div>
	</div>
</footer>